/*     <main className={styles.main}>
      <h1>Notion DB</h1>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Creator Name</th>
            <th>Link</th>
          </tr>
        </thead>

        <tbody>
          {data.map((row, index) => (
            <tr key={index}>
              <td>{row.username}</td>
              <td>{row.creator_name}</td>
              <td>{row.link}</td>
            </tr>
          ))}
        </tbody>
      </table>
    </main> */

/* Path: app/page.module.css */

.main {
  min-height: 100vh;
  padding: 2rem;
  font-family: sans-serif;
  background: #121212;
}

.main a{
  color: rgb(205, 205, 205);
  text-decoration: underline;
}
.main table {
  border-collapse: collapse;
  width: 100%;
}

.main table th,
.main table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
}

/* 
.main table tr:nth-child(even) {
  background-color: #f2f2f2;
} */
